<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { margin: 48px; }
    </style>
</head>
<body>
  <div class="container mb-3">
    
    <h1>Brigita Šidlauskaitė</h1>
    <h1>Andrius Šlepikas</h1>
    <h1>Jonas Marciulevičius</h1>
    <h4 class="mt-3">Kauno Kolegija 2025</h4>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link ps-0" href="/">Back to main</a>
      </li>
    </ul>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
